<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My PetStore</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/catalog/view">Home</a></li>
                    <li><a href="/Cart/viewCart">Cart</a></li>
                    <li> <a th:if="${session.account} == null or (!${session.authenticated})" href="/account/signonForm">Sign In</a></li>
                    <li>  <a th:if="(${session.account} != null) and (${session.authenticated})" href="/account/signoff">Sign Out</a></li>
                    <li> <a th:if="(${session.account} != null) and (${session.authenticated})" href="/account/editAccountForm">My Account</a></li>
                    <li><a href="/manage/signonForm">Manage System</a></li>
                    <li><a href="../help.html">help</a></li>
                    <li> <form class="Search" action="/catalog/searchProducts" method="post" style="position:relative;top:10px">
                        <input type="text" name="keyword" size="14" />
                        <input type="submit" name="searchProducts" class="btn btn-xs btn-warning" value="Search" />
                    </form></li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <br/>-->
<!--   <br/>-->
<!--    <br/>-->
    <div style="text-align: center;
    background-color: #FFF;
    width: 99%;">
        <a href="/catalog/viewCategory?categoryId=FISH">
            <img src="../images/sm_fish.gif" />
        </a>
        <img src="../images/separator.gif" />
        <a href="/catalog/viewCategory?categoryId=DOGS">
            <img src="../images/sm_dogs.gif" />
        </a>
        <img src="../images/separator.gif" />
        <a href="/catalog/viewCategory?categoryId=REPTILES">
            <img src="../images/sm_reptiles.gif" />
        </a>
        <img src="../images/separator.gif" />
        <a href="/catalog/viewCategory?categoryId=CATS">
            <img src="../images/sm_cats.gif" />
        </a>
        <img src="../images/separator.gif" />
        <a href="/catalog/viewCategory?categoryId=BIRDS">
            <img src="../images/sm_birds.gif" />
        </a>
    </div>
</header>
</body>
</html>