<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/itemTop"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/manage/editItem_manage" method="post" th:object="${item}">
            <h3>Product Information</h3>
            <table>
                <tr>
                    <td>item ID:</td>
                    <td th:text="*{itemId}"></td>
                </tr>
                <tr>
                    <td>ProductId:</td>
                    <td>
                        <select th:field="*{productId}">
                            <option th:each="productId:${PRODUCTID_LIST}" th:value="${productId}" th:text="${productId}">

                            </option>
                        </select>
                </tr>
                <tr>
                    <td>listPrice:</td>
                    <td><input type="text" th:field="*{listPrice}"></td>
                </tr>
                <tr>
                <td>unitCost:</td>
                <td><input type="text" th:field="*{unitCost}"></td>
            </tr>
                <tr>
                    <td>attribute:</td>
                    <td><input type="text" th:field="*{attribute1}"></td>
                </tr>
                <tr>
                    <td th:text="${msg}"></td>
                </tr>
            </table>
            <input type="submit" value="Save Item Information">
        </form>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>