<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">
    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="/manage/alluser">用户管理<img src="../images/user.jpg" /></a>
                <br/>
                <a href="#">商品管理<img src="../images/product.jpg" /></a>
                <br/>
                <a href="#">订单管理<img src="../images/order.jpg" /></a>
                <br/>
            </div>
        </div>

        <div id="MainImage">
            <div id="MainImageContent">
                <img height="450" src="../images/petstore.jpg" align="middle" width="608" />
            </div>
        </div>
        <div id="Separator">&nbsp;</div>
    </div>
</div>

<div th:replace="common/bottom"></div>
</body>
</html>