<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />

</head>
<body>
<div th:replace="common/top"></div>
<div id="store">
    <div id="BackLink">
        <a href="/manage/view">RETURN TO THE MENU</a>
    </div>
    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="/manage/category">Category<img src="../images/category.jpg" /></a>
                <br/>
                <a href="/manage/product">Product <img src="../images/product1.jpg" /></a>
                <br/>
                <a href="/manage/view">Item     <img src="../images/item.jpg" /></a>
                <br/>
            </div>
        </div>

        <div id="MainImage">
            <div id="MainImageContent">
                <img height="450" src="../images/petstore.jpg" align="middle" width="608" />
            </div>
        </div>
        <div id="Separator">&nbsp;</div>
    </div>
</div>
<div th:replace="common/bottom"></div>


</body>
</html>