<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/manage/newitem" method="post" th:object="${newItem}">
            <h3>Item Information</h3>
            <table>
                <tr>
                    <td>Item ID:</td>
                    <td><input type="text" th:field="*{itemId}"></td>
                </tr>
                <tr>
                    <td>ProductId:</td>
                    <td>
                        <select th:field="*{productId}">
                            <option th:each="productId:${PRODUCTID_LIST}" th:value="${productId}" th:text="${productId}">

                            </option>
                        </select>
                </tr>
                <tr>
                    <td>ListPrice:</td>
                    <td><input type="text" th:field="*{listPrice}"></td>
                </tr>
                <tr>
                    <td>UnitCost:</td>
                    <td><input type="text" th:field="*{unitCost}"></td>
                </tr>
                <tr>
                    <td>UnitCost:</td>
                    <td><input type="text" th:field="*{unitCost}"></td>
                </tr>
                <tr>
                    <td th:text="${msg}"></td>
                </tr>
            </table>
            <input type="submit" value="Save Product Information">
            <a href="/manage/product">cancel</a>
        </form>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>