<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/manage/signon" method="post">
            <h1>商城管理系统</h1>
            <table Border="0" >
                <tr>
                    <td>用户名:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input type="password" name="password">
                    </td>
                </tr>
            </table>
            <p th:if="${msg!=null}" th:text="${msg}"></p>
            <p th:if="${msg1!=null}" th:text="${msg1}"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>