<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ProductMapper">
    <cache/>

    <select id="getProduct" parameterType="string" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE PRODUCTID = #{productId}
    </select>

    <select id="getProductListByCategory" parameterType="string" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE CATEGORY = #{value}
    </select>

    <select id="searchProductList" parameterType="string" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE lower(name) like #{value}
    </select>
<insert id="insertProduct" parameterType="Product">
    INSERT INTO PRODUCT
            (PRODUCTID,CATEGORY,NAME,DESCN)
        VALUES(
            #{productId},#{categoryId},#{name},#{description})
</insert>
    <select id="getAllProduct" resultType="Product">
        SELECT
            productId,
            category as categoryId
        FROM PRODUCT
    </select>
    <update id="updateProduct" parameterType="Product">
        UPDATE PRODUCT SET
            CATEGORY=#{categoryId},
            NAME=#{name},
            descn=#{description}
        WHERE PRODUCTID=#{productId}
    </update>
    <delete id="deleteProduct" parameterType="string">
        delete from PRODUCT WHERE PRODUCTID=#{value}
    </delete>
</mapper>
